<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lottery.mapper.ad.AdPlayHisMapper">
  <resultMap id="BaseResultMap" type="com.lottery.model.ad.AdPlayHis">
    <id column="playhis_id" jdbcType="INTEGER" property="playhis_id" />
    <result column="online_id" jdbcType="INTEGER" property="online_id" />
    <result column="startdt" jdbcType="TIMESTAMP" property="startdt" />
    <result column="enddt" jdbcType="TIMESTAMP" property="enddt" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
    <result column="insertdt" jdbcType="TIMESTAMP" property="insertdt" />
  </resultMap>
  <sql id="Base_Column_List">
    playhis_id, online_id, startdt, enddt, duration, insertdt
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from adplayhis
    where playhis_id = #{playhis_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from adplayhis
    where playhis_id = #{playhis_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lottery.model.ad.AdPlayHis">
    insert into adplayhis (playhis_id, online_id, startdt, 
      enddt, duration, insertdt
      )
    values (#{playhis_id,jdbcType=INTEGER}, #{online_id,jdbcType=INTEGER}, #{startdt,jdbcType=TIMESTAMP}, 
      #{enddt,jdbcType=TIMESTAMP}, #{duration,jdbcType=INTEGER}, #{insertdt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lottery.model.ad.AdPlayHis">
    insert into adplayhis
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="playhis_id != null">
        playhis_id,
      </if>
      <if test="online_id != null">
        online_id,
      </if>
      <if test="startdt != null">
        startdt,
      </if>
      <if test="enddt != null">
        enddt,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="insertdt != null">
        insertdt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="playhis_id != null">
        #{playhis_id,jdbcType=INTEGER},
      </if>
      <if test="online_id != null">
        #{online_id,jdbcType=INTEGER},
      </if>
      <if test="startdt != null">
        #{startdt,jdbcType=TIMESTAMP},
      </if>
      <if test="enddt != null">
        #{enddt,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=INTEGER},
      </if>
      <if test="insertdt != null">
        #{insertdt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lottery.model.ad.AdPlayHis">
    update adplayhis
    <set>
      <if test="online_id != null">
        online_id = #{online_id,jdbcType=INTEGER},
      </if>
      <if test="startdt != null">
        startdt = #{startdt,jdbcType=TIMESTAMP},
      </if>
      <if test="enddt != null">
        enddt = #{enddt,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=INTEGER},
      </if>
      <if test="insertdt != null">
        insertdt = #{insertdt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where playhis_id = #{playhis_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lottery.model.ad.AdPlayHis">
    update adplayhis
    set online_id = #{online_id,jdbcType=INTEGER},
      startdt = #{startdt,jdbcType=TIMESTAMP},
      enddt = #{enddt,jdbcType=TIMESTAMP},
      duration = #{duration,jdbcType=INTEGER},
      insertdt = #{insertdt,jdbcType=TIMESTAMP}
    where playhis_id = #{playhis_id,jdbcType=INTEGER}
  </update>
</mapper>