<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lottery.mapper.ad.AdUserMapper">
	<resultMap id="BaseResultMap" type="com.lottery.model.ad.AdUser">
		<id column="user_id" jdbcType="INTEGER" property="user_id" />
		<result column="username" jdbcType="CHAR" property="username" />
		<result column="password" jdbcType="CHAR" property="password" />
		<result column="smscode" jdbcType="CHAR" property="smscode" />
		<result column="createdt" jdbcType="TIMESTAMP" property="createdt" />
		<result column="corp" jdbcType="CHAR" property="corp" />
		<result column="contact" jdbcType="CHAR" property="contact" />
		<result column="mobile" jdbcType="CHAR" property="mobile" />
		<result column="telephone" jdbcType="CHAR" property="telephone" />
		<result column="account" jdbcType="DOUBLE" property="account" />
		<result column="pay_id" jdbcType="TINYINT" property="pay_id" />
	</resultMap>
	<sql id="Base_Column_List">
		user_id, username, password, smscode, createdt, corp, contact, mobile,
		telephone,
		account, pay_id
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from aduser
		where user_id = #{user_id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from aduser
		where user_id = #{user_id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.lottery.model.ad.AdUser">
		insert into aduser (user_id, username, password,
		smscode, createdt, corp,
		contact, mobile, telephone,
		account, pay_id)
		values (#{user_id,jdbcType=INTEGER}, #{username,jdbcType=CHAR},
		#{password,jdbcType=CHAR},
		#{smscode,jdbcType=CHAR}, #{createdt,jdbcType=TIMESTAMP}, #{corp,jdbcType=CHAR},
		#{contact,jdbcType=CHAR}, #{mobile,jdbcType=CHAR},
		#{telephone,jdbcType=CHAR},
		#{account,jdbcType=DOUBLE}, #{pay_id,jdbcType=TINYINT})
	</insert>
	<insert id="insertSelective" parameterType="com.lottery.model.ad.AdUser">
		insert into aduser
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="user_id != null">
				user_id,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="smscode != null">
				smscode,
			</if>
			<if test="createdt != null">
				createdt,
			</if>
			<if test="corp != null">
				corp,
			</if>
			<if test="contact != null">
				contact,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="telephone != null">
				telephone,
			</if>
			<if test="account != null">
				account,
			</if>
			<if test="pay_id != null">
				pay_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="user_id != null">
				#{user_id,jdbcType=INTEGER},
			</if>
			<if test="username != null">
				#{username,jdbcType=CHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=CHAR},
			</if>
			<if test="smscode != null">
				#{smscode,jdbcType=CHAR},
			</if>
			<if test="createdt != null">
				#{createdt,jdbcType=TIMESTAMP},
			</if>
			<if test="corp != null">
				#{corp,jdbcType=CHAR},
			</if>
			<if test="contact != null">
				#{contact,jdbcType=CHAR},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=CHAR},
			</if>
			<if test="telephone != null">
				#{telephone,jdbcType=CHAR},
			</if>
			<if test="account != null">
				#{account,jdbcType=DOUBLE},
			</if>
			<if test="pay_id != null">
				#{pay_id,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.lottery.model.ad.AdUser">
		update aduser
		<set>
			<if test="username != null">
				username = #{username,jdbcType=CHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=CHAR},
			</if>
			<if test="smscode != null">
				smscode = #{smscode,jdbcType=CHAR},
			</if>
			<if test="createdt != null">
				createdt = #{createdt,jdbcType=TIMESTAMP},
			</if>
			<if test="corp != null">
				corp = #{corp,jdbcType=CHAR},
			</if>
			<if test="contact != null">
				contact = #{contact,jdbcType=CHAR},
			</if>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=CHAR},
			</if>
			<if test="telephone != null">
				telephone = #{telephone,jdbcType=CHAR},
			</if>
			<if test="account != null">
				account = #{account,jdbcType=DOUBLE},
			</if>
			<if test="pay_id != null">
				pay_id = #{pay_id,jdbcType=TINYINT},
			</if>
		</set>
		where user_id = #{user_id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.lottery.model.ad.AdUser">
		update aduser
		set username = #{username,jdbcType=CHAR},
		password = #{password,jdbcType=CHAR},
		smscode = #{smscode,jdbcType=CHAR},
		createdt = #{createdt,jdbcType=TIMESTAMP},
		corp = #{corp,jdbcType=CHAR},
		contact = #{contact,jdbcType=CHAR},
		mobile = #{mobile,jdbcType=CHAR},
		telephone = #{telephone,jdbcType=CHAR},
		account = #{account,jdbcType=DOUBLE},
		pay_id = #{pay_id,jdbcType=TINYINT}
		where user_id = #{user_id,jdbcType=INTEGER}
	</update>

	<select id="findAll" resultMap="BaseResultMap">
		select * from aduser
	</select>

	<update id="updateByUserId" parameterType="com.lottery.model.ad.AdUser">
		update aduser set account=#{account}
		where user_id = #{user_id,jdbcType=INTEGER}
	</update>

</mapper>